<h2>List of groups:</h2>
<ul>
    <li *ngFor="let group of groups$ | async"> 
        <a routerLink="./detail/{{group.id}}"> {{group.name}} </a><!--pouzili sme async pipe: on si na ruru urobi subscribe  a vezme co z tej rury vypadne-->
    <!-- treba si ale pri tomto dat pozor na to - ZE NIKDY NESMIE PREJST CEZ RURU ERROR - MY V GET GROUPS ODCHYTAVAME CHYBU A AK PRIDE CHYBA POSIELAME EMPTY
    VEEEEEEERY IMPORTAAAAANT == ak z tejto rury niekedy vypadne error nebude to fungovat-->
    <button  type="button" mat-fab color="primary" (click)="groupToEdit = group"> <mat-icon>edit</mat-icon></button>
    </li> 
</ul>

<app-group-edit-child *ngIf="groupToEdit" [editingGroup]="groupToEdit" (save)="onSave($event)"></app-group-edit-child>
